body {
  font: helvetica neue, arial;
  background-color: none;
  color: #0b0c0c;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  max-width: 80% !important;
}

#crest {
  height: 200px;
  width: 200px;
}

.header-wrapper {
  color: #ffffff;
  background-color: #2372b5;
  margin-bottom: 25px;
  padding-top: 60px;
  padding-bottom: 50px;
  margin-bottom: 60px;
}

.header-wrapper h1 {
  color: inherit;
  font-weight: bold;
  font-size: 3.2rem;
}

.header-wrapper p {
  font-size: 1.5rem;
}

pre code {
  display: block;
  padding: 0.5em;
  color: #333;
  overflow: scroll;
}

.doclinks {
  position: fixed;
}

.doclinks ul {
  list-style: none;
  margin-left: 0;
}

.links ul {
  list-style: none;
  margin-left: 0;
  margin-top: 15px;
  font-size: 1.1rem;
}

.links li {
  margin-bottom: 10px;
}

p#docs {
  border: solid 2px #2372b5;
  padding: 10px;
}
