{% extends "base.html" %}
{% block title %}Registers{% endblock%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
{% endblock %}
{% block content %}

<!-- top banner -->
<div class="header-wrapper section">
  <div class="row">
    <header>
      <div class="large-8 columns">
        <h1 class="heading-xlarge">Registers</h1>
          <p class="lede">Registers are sources of trustworthy data that policy experts, analysts and service teams can use to help them meet user needs.</p>

          <p class="lede">Registers are designed to be part of a wider ecosystem of interconnected parts. They specialise in storing and maintaining data, removing the burden of doing that job from people whose main job shouldn’t be those things.</p>

          <p class="lede">We believe registers are a vital part of the future of digital government.</p>

      </div>
        <div class="large-3 columns large-offset-1">
          <img id="crest" src="/static/images/big_crest_white.png">
        </div>
    </header>
  </div>
</div>

<section class="section">
  <div class="row">
    <div class="large-4 columns section__side">
      <h2 id="what" class="heading-large section__side__heading">The benefits of registers</h2>
    </div>
    <div class="large-8 columns">
      <p>Whether you’re researching trends, developing or updating policy, or designing a new digital service from scratch, registers give you many benefits:
      </p>
      <ul>
        <li>you’re free from having to gather or maintain the data you need</li>
        <li>you get access to more authoritative data from all over government</li>
        <li>you get access to data in formats you can easily use</li>
      </ul>
      <p>If you’re a custodian of data, registers:
      </p>
      <ul>
        <li>mean the cost of supporting many more users is trivial</li>
        <li>include helpful, supportive infrastructure to meet your responsibilities as a data owner</li>
        <li>remove the need for you to duplicate data that isn’t related to your core business (you’ll be able to access it directly from the authoritative source instead)</li>
      </ul>
      <a href="http://www.openregister.org/benefits">More about benefits</a>
    </div>
  </div>
</section>


<section class="section">
  <div class="row">
    <div class="large-4 columns section__side">
      <h2 id="what" class="heading-large section__side__heading">How registers work</h2>
    </div>
      <div class="large-8 columns">
          <p>Registers are a better way of storing simple lists of things in standardised ways, separate from technology platforms and digital services. They are minimum viable datasets.</p>

          <p>They have <a href="https://gds.blog.gov.uk/2015/09/01/registers-authoritative-lists-you-can-trust/">clear user needs and purpose</a>. They share certain <a href="https://gds.blog.gov.uk/2015/10/13/the-characteristics-of-a-register/">characteristics</a>.</p>

          <p>Every register is looked after by a named individual, a custodian. That person is responsible for ensuring that data is <a href="https://gds.blog.gov.uk/2015/10/13/the-characteristics-of-a-register/#registerdata">accessible</a>, accurate, up-to-date, and hasn’t been tampered with.</p>

          <p>In practice, not all datasets need to be registers.</p>

          <p>Because registers are <a href="https://gds.blog.gov.uk/2015/10/13/the-characteristics-of-a-register/#minimumviabledataset">minimum viable datasets</a> with a clear custodian, we will be better able to rely on and use one another’s datasets more easily.</p>

          <p>GDS isn’t planning to build all the registers. Instead, we’ll be supporting departments and agencies while they build their registers for their own use and that of others in government. We’re looking forward to working with <a href="https://gds.blog.gov.uk/digital-leaders-network/">Digital Leaders</a> and the Data Leaders Network to build this ecosystem of registers.</p>

          <a href="http://www.openregister.org/how-registers-work">More about how registers work</a>

      </div>
    </div>
  </section>
  

  <section class="section">
    <div class="row">
      <div class="large-4 columns section__side">
        <h2 id="what" class="heading-large section__side__heading">Demos</h2>
      </div>
      <div class="large-8 columns">
        <p>We have prototyped some digital services that show registers at work. These demos are pre-alpha. None of them is a finished product; they are just experiments in code – a means for us to learn by doing.</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="row">
      <div class="large-4 columns section__side">
        <h2 id="what" class="heading-large section__side__heading">What happens next</h2>
      </div>
      <div class="large-8 columns">
        <p>If you collect, manage or store datasets and lists and you think registers could help you do that better then we would like to talk to you.</p>

        <p>We’d like to work with you to understand what sort of data you have, and whether or not it is a likely candidate for becoming a register – or several registers.</p>

        <p>If you need practical support creating or hosting a register, we can help.</p>

      </div>
    </div>
  </section>

{% endblock %}
