<section>
  <div class="row">
      <div class="large-8 columns">
        <p class="blurb text">This alpha is being developed as 
            <a href="https://github.com/openregister">open source software</a>
        by a small team at the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>. We welcome feedback and <a href="https://github.com/alphagov/styleguides/blob/master/pull-requests.md">contributions</a>.</p>
      </div>

    </div>
</section>
