{% extends "base.html" %}
{% block title %}Registers{% endblock%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
{% endblock %}
{% block content %}

<!-- top banner -->
<section class="section--dark section--centre-align demos">
   <div class="row">
    <h2 id="demos" class="heading-large heading__centre">Demos</h2>
    <p class="section-intro">Check out the services we’ve built using improved registers</p>
    </div>
   <div class="row">
    <div class="who__wrapper">
      <div class="large-4 columns">
        <a href="http://openregister-food-ratings-demo.herokuapp.com/"><img src="/static/images/demo/food-premises-ratings.jpg"></a>
        <h3 class="heading-medium"><a href="http://openregister-food-ratings-demo.herokuapp.com/">Food premises ratings</a></h3>
         <p>An application showing food premises and their ratings.
          A small <a href="https://github.com/openregister/food-ratings-demo">python/flask application</a>.</p>
      </div>
      <div class="large-4 columns end">
        <a href="http://openregister-food-registration.herokuapp.com/"><img src="/static/images/demo/food-premises-registration.jpg"></a>
        <h3 class="heading-medium"><a href="http://openregister-food-registration.herokuapp.com/">Food premises registration</a></h3>
         <p>A form driven by company, food premises and other registers.
        A small <a href="https://github.com/openregister/food-premises-registration">python/flask application</a>.</p>
      </div>
      <div class="large-4 columns end">
        <a href="http://openregister-fsa-demo.herokuapp.com/"><img src="/static/images/demo/fsa-demo.jpg"></a>
        <h3 class="heading-medium"><a href="http://openregister-fsa-demo.herokuapp.com/">Approved food premises</a></h3>
         <p>An application showing premises approved for the handling or processing of products of animal origin.
        A small <a href="https://github.com/openregister/food-premises-demo">python/flask application</a>.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="who__wrapper">
      <div class="large-4 columns">
        <a href="http://openregister-school-demo.herokuapp.com/"><img src="/static/images/demo/school-finder.jpg"></a>
        <h3 class="heading-medium"><a href="http://openregister-school-demo.herokuapp.com/">School finder</a></h3>
         <p>A page for every <a href="http://school.openregister.org">school</a> showing related information from other registers.
        A small <a href="https://github.com/openregister/school-demo">python/flask application</a>.</p>
      </div>
      <div class="large-4 columns">
        <a href="http://openregister-widgets.herokuapp.com/"><img src="/static/images/demo/widgets.jpg"></a>
        <h3 class="heading-medium"><a href="http://openregister-widgets.herokuapp.com/">Widgets</a></h3>
        <p>A page of widget built using registers.
        <a href="https://github.com/openregister/openregister-widgets">Javascript widgets served by a python/flask application</a>.</p>
      </div>
      <div class="large-4 columns">
        <a href="http://openregister-check-demo.herokuapp.com/"><img src="/static/images/demo/check.jpg"></a>
        <h3 class="heading-medium"><a href="http://openregister-check-demo.herokuapp.com/">Check a licence or certificate</a></h3>
        <p>A prototype application demonstrating digital proofs.
        A small <a href="https://github.com/openregister/check-demo">python/flask application</a>.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
