{% extends "base.html" %}
{% block title %}Demonstration applications{% endblock%}
{% block content %}

<div class="header-wrapper">
  <div class="row">
    <header class="docs">
      <div class="large-12 columns">
        <a href="/">Registers</a>
        <h1>Demonstration applications</h1>
      </div>
    </header>
  </div>
</div>

<div class="row gallery">
  <div class="large-4 columns links">
    <ul>
    <li><a href="/">About registers</a></li>
    <li>Demonstration applications
      <ul>
        <li><a href="#schools">School finder</a>
        <li><a href="#address">Address lookup</a>
        <li><a href="#country">Country picker</a>
        <li><a href="#flood-warnings">Flood warning areas</a>
        <li><a href="#fishing-licence">Fishing licence</a>
        <li><a href="#house-prices">House prices</a>
      </ul>
      </li>
    <li><a href="/developer">Developer documentation</a></li>
    </ul>
  </div>

  <div class="large-8 columns">

    <div class="demo" id="schools">
      <h1><a href="http://school-service.herokuapp.com/">School finder</a></h1>
      <a href="http://school-service.herokuapp.com/"><img src="/static/images/demo/school-finder.jpg"></a>
      <p>Search the <a href="http://school.openregister.org">school register</a> to find a page for each registered school with a map and information pulled in from several other associated registers.</p>
      <p>A small <a href="https://github.com/openregister/schools">python/flask application</a>.</p>
    </div>

  </div>
</div>

{% include 'footer.html' %}
{%  endblock %}
