{% extends "base.html" %}
{% block title %}Registers{% endblock%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
{% endblock %}
{% block content %}

<!-- top banner -->
<section class="section--dark section--centre-align demos">
  <div class="row">
    <h2 id="demos" class="heading-large heading__centre">Demos</h2>
    <p class="section-intro">Check out the services we’ve built using improved registers</p>
  </div>
  <div class="row">
    <div class="who__wrapper">
      <div class="large-6 columns">
        <a href="http://openregister-food-ratings-demo.herokuapp.com/"><img src="/static/images/demo/food-premises-ratings.jpg"></a>
        <h3 class="heading-medium"><a href="http://openregister-food-ratings-demo.herokuapp.com/">Food premises ratings</a></h3>
        <p>An application showing food premises and their ratings.
          A small <a href="https://github.com/openregister/food-ratings-demo">python/flask application</a>.</p>
      </div>
      <div class="large-6 columns">
        <a href="http://openregister-widgets.herokuapp.com/"><img src="/static/images/demo/widgets.jpg"></a>
        <h3 class="heading-medium"><a href="http://openregister-widgets.herokuapp.com/">Widgets</a></h3>
        <p>A page of widget built using registers.
          <a href="https://github.com/openregister/openregister-widgets">Javascript widgets served by a python/flask application</a>.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
