{% extends "base.html" %}
{% block title %}Developer Documentation{% endblock%}
{% block content %}

<div class="header-wrapper">
  <div class="row">
    <header class="docs">
      <div class="large-12 columns">
        <a href="/">Registers</a>
        <h1>Developer Documentation</h1>
      </div>
    </header>
  </div>
</div>

<div class="row">
  <div class="medium-12 large-4 columns links">
    <ul>
    <li><a href="/">About registers</a></li>
    <li><a href="/demo">Demonstration applications</a></li>
    <li>Developer documentation</a>
        <ul>
          <li><a href="">Overview</a></li>
          <li><a href="#get">Get entry by identifier</a></li>
          <li><a href="#search">Search for an entry</a></li>
          <li><a href="#entry">Create a new entry</a></li>
        </ul>
    </li>
    </ul>
  </div>
  <div class="medium-12 large-8 columns">
    <pre class="json">
    $ curl -is http://country.openregister.org/country/US.json
    HTTP/1.1 200 OK
    Server: Cowboy
    Date: Thu, 04 Jun 2015 08:42:20 GMT
    Link: </country/US>; rel="canonical"
    Content-Type: application/json; charset=utf-8
    Content-Length: 381
    X-Cache: MISS from Safesquid o2.2013.0903.1314.3
    X-Cache: MISS from Squid
    Via: 1.1 Squid (squid/3.2.11)
    Connection: keep-alive

    {"hash":"6a499e96106fbf5468bb857bba75308b4d55c652","entry":{"name":"United States","text":"Usage of 'America' and 'American' instead of 'United States' should be avoided unless the context makes clear that 'United States' is intended.","country":"US","citizen-names":"United States citizen","official-name":"The United States of America"},"last-updated":"2015-06-03T16:10:45.918Z"}
    </pre>

    <pre class="json">
    $ curl -is http://country.openregister.org/search?country=US&_representation=json

    HTTP/1.1 200 OK
    Server: Cowboy
    Date: Thu, 04 Jun 2015 08:42:20 GMT
    Link: </country/US>; rel="canonical"
    Content-Type: application/json; charset=utf-8
    Content-Length: 381
    X-Cache: MISS from Safesquid o2.2013.0903.1314.3
    X-Cache: MISS from Squid
    Via: 1.1 Squid (squid/3.2.11)
    Connection: keep-alive

    {"hash":"6a499e96106fbf5468bb857bba75308b4d55c652","entry":{"name":"United States","text":"Usage of 'America' and 'American' instead of 'United States' should be avoided unless the context makes clear that 'United States' is intended.","country":"US","citizen-names":"United States citizen","official-name":"The United States of America"},"last-updated":"2015-06-03T16:10:45.918Z"}


$ curl -is 'http://country.openregister.org/search?country=US&_representation=ttl'
HTTP/1.1 200 OK
Server: Cowboy
Date: Thu, 04 Jun 2015 08:43:46 GMT
Content-Type: text/turtle; charset=utf-8
Content-Length: 541
X-Cache: MISS from Safesquid o2.2013.0903.1314.3
X-Cache: MISS from Squid
Via: 1.1 Squid (squid/3.2.11)
Connection: keep-alive

@prefix field: <http://fields.openregister.org/field/>.

<http://country.openregister.org/hash/6a499e96106fbf5468bb857bba75308b4d55c652>
  field:country <http://country.openregister.org/country/US> ;
  field:name "United States" ;
  field:official-name "The United States of America" ;
  field:citizen-names "United States citizen" ;
  field:start-date "" ;
  field:end-date "" ;
  field:text "Usage of 'America' and 'American' instead of 'United States' should be avoided unless the context makes clear that 'United States' is intended." .
    </pre>

</div>
</div>

{%  endblock %}
