{% extends "base.html" %}
{% block title %}Developers: Registers{% endblock%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
{% endblock %}
{% block content %}

<!-- top banner -->
<div class="header-wrapper section">
  <div class="row">
    <header>
      <div class="large-8 columns">
        <h1><a href="/" title="about registers">Registers</a></h1>
        <p class="lede">Documentation for developers</p>
      </div>
    </header>
  </div>
</div>

<section class="section" id="open-data">
  <div class="row">
    <div class="large-4 columns section__side">
      <h2 id="public" class="heading-large section__side__heading">Public registers</h2>
    </div>
    <div class="large-8 columns">
      <p>A service may propose a new register entry using the . this will appear on the. The queue of pending changes upon the register. </p>
    </div>
</section>

<section class="section" id="private-data">
  <div class="row">
    <div class="large-4 columns section__side">
      <h2 id="private" class="heading-large section__side__heading">Private registers</h2>
    </div>
    <div class="large-8 columns">
      <p></p>
    </div>
</section>

<section class="section">
  <div class="row">
    <div class="large-4 columns section__side">
      <h2 id="propose" class="heading-large section__side__heading">Proposing a new entry</h2>
    </div>
    <div class="large-8 columns">
      <p>A service may propose a new register entry using the . this will appear on the. The queue of pending changes upon the register. </p>
    </div>
</section>

<section class="section">
  <div class="row">
    <div class="large-4 columns section__side">
      <h2 id="publishing" class="heading-large section__side__heading">Publishing a new entry</h2>
    </div>
    <div class="large-8 columns">
      <p>The registrar may propose a new register entry using the . this will appear on the. The queue of pending changes upon the register. </p>
    </div>
</section>


{% endblock %}
