{% extends "base.html" %}
{% block title %}Developer Documentation{% endblock%}
{% block content %}
 <div class="row">
    <div class="small-12 large-12 columns">
      <h3>Create entry</h3>
      <table>
        <thead>
          <tr>
            <th>HTTP Method</th>
            <th>Path</th>
            <th>Headers</th>
            <th>Payload</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>POST</td>
            <td>/create</td>
            <td>Content-Type: application/json</td>
            <td>valid json</td>
            <td>Create a register entry</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-12 columns">
    <h4>Example request</h4>
    <pre>
      <code class="shell">
  curl -n -X POST http://register.openregister.org/create \
    -H "Content-Type: application/json" \
    -d '{
       "register":"School",
       "fields":["school", "name", "startDate", "endDate", "gender", "religiousCharacter", "minAge", "maxAge", "headTeacher", "website", "address"],
       "text": "The school register"}'
    </code>
  </pre>
    <h4>Response</h4>
    <pre>
    <code class="json">
      {status: 202, message: "Record saved successfully"}
    </code>
    </pre>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-12 columns">
      <h3>Search for an entry</h3>
      <table>
        <thead>
          <tr>
            <th>HTTP Method</th>
            <th>Path</th>
            <th>Headers</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GET</td>
            <td>/search</td>
            <td></td>
            <td>Search contents of register</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-12 columns">
    <h4>Parameters</h4>
    <table>
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Description</th>
            <th>Required</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>_query</td>
            <td>Search term</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>_representation</td>
            <td>Representation of response body, e.g json, csv etc. Default is html.</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-12 columns">
    <h4>Example request</h4>
      <pre>
        <code class="shell">
  curl http://register.openregister.org/search?_query=school&_representation=json
        </code>
      </pre>

      <h4>Response</h4>
      <pre>
        <code class="json">[{
  "hash":"ad183e6ed25737ce4c71bbd652513ba8952c982d",
  "entry":{
    "register":"School",
      "fields":[
        "school",
        "name",
        "startDate",
        "endDate",
        "gender",
        "religiousCharacter",
        "minAge",
        "maxAge",
        "headTeacher",
        "website",
        "address"
        ]
    }
  }
]</code>
      </pre>
    </div>
  </div>

   <div class="row">
    <div class="small-12 large-12 columns">
      <h3>Get entry by hash</h3>
      <table>
        <thead>
          <tr>
            <th>HTTP Method</th>
            <th>Path</th>
            <th>Headers</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GET</td>
            <td>/hash/[hash]</td>
            <td></td>
            <td>Get the entry given it's hash</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-12 columns">
    <h4>Parameters</h4>
    <table>
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Description</th>
            <th>Required</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>_representation</td>
            <td>Representation of response body, e.g json, csv etc. Default is html.</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-12 columns">
      <h4>Example request</h4>
      <pre>
    <code class="shell">
      curl http://register.openregister.org/hash/ad183e6ed25737ce4c71bbd652513ba8952c982d?_representation=json
    </code>
    </pre>

      <h4>Response</h4>
      <pre>
        <code class="json">[{
  "hash":"ad183e6ed25737ce4c71bbd652513ba8952c982d",
  "entry:{
    "register":"School",
    "fields":[
        "school",
        "name",
        "startDate",
        "endDate",
        "gender",
        "religiousCharacter",
        "minAge",
        "maxAge",
        "headTeacher",
        "website",
        "address"
     ]
    }
  }
]</code>
      </pre>
    </div>
  </div>

{%  endblock %}
