{% extends "base.html" %}
{% block title %}Developer Documentation{% endblock%}
{% block content %}

<div class="header-wrapper">
  <div class="row">
    <header class="docs">
      <div class="large-12 columns">
        <a href="/">Home</a>
        <h1>Developer Documentation</h1>
      </div>
    </header>
  </div>
</div>

<div class="row">
  <div class="large-2 columns doclinks">
    <ul>
      <li><a href="">Overview</a></li>
      <li><a href="#entry">Create an entry</a></li>
      <li><a href="#get">Get entry by identifier</a></li>
      <li><a href="#search">Search for an entry</a></li>
    </ul>
  </div>
  <div class="large-9 columns">
    <h3>Overview</h3>
    <p>A register is a data store of entries that conform to the data contraints expressed in the <a href="http://field.openregister.org/">field</a> and <a href="http://datatype.openregister.org/">data type</a> registers. In addition the shape of an entry, as in the fields contained within an entry is specified in <a href="http://register.openregister.org/">register of registers.</a></p>
    <p>A register presents a standard HTTP interface to read </p>
    <p>This page documents the read and write interfaces to a register.</p>

    <a name="entry"></a><h3>Create entry</h3>
      <table>
        <thead>
          <tr>
            <th>HTTP Method</th>
            <th>Path</th>
            <th>Headers</th>
            <th>Payload</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>POST</td>
            <td>/create</td>
            <td>Content-Type: application/json</td>
            <td>valid json</td>
            <td>Create a register entry</td>
          </tr>
        </tbody>
      </table>

    <h4>Example request</h4>
    <pre>
      <code class="shell">
  curl -n -X POST http://school.openregister.org/create \
    -H "Content-Type: application/json" \
    -d '{
       "school": 123456,
       "name": "St. Elsewhere Primary School",
       "startDate": "2015-01-01",
       "minAge": 3,
       "maxAge": 10,
       "headTeacher": "Ms. J Brodie",
       "website": "http://www.st-elsewhere-primary.org",
       "address": 123456789012
     }'
    </code>
  </pre>
    <h4>Response</h4>
    <pre>
    <code class="json">
      {status: 202, message: "Record saved successfully"}
    </code>
    </pre>
    <a name="search"></a><h3>Search for an entry</h3>
      <table>
        <thead>
          <tr>
            <th>HTTP Method</th>
            <th>Path</th>
            <th>Headers</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GET</td>
            <td>/search</td>
            <td></td>
            <td>Search contents of register</td>
          </tr>
        </tbody>
      </table>
    <h4>Parameters</h4>
    <table>
      <thead>
          <tr>
            <th>Parameter</th>
            <th>Description</th>
            <th>Required</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>_query</td>
          <td>Search term</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>_representation</td>
          <td>Representation of response body, e.g json, csv etc. Default is html.</td>
          <td>No</td>
        </tr>
      </tbody>
    </table>

    <h4>Example request</h4>
      <pre>
        <code class="shell">
  curl http://school.openregister.org/search?_query=elsewhere&_representation=json
        </code>
      </pre>
      <h4>Response</h4>
      <pre>
        <code class="json">[{
  "hash":"ad183e6ed25737ce4c71bbd652513ba8952c982d",
  "entry":{
       "school": 123456,
       "name": "St. Elsewhere Primary School",
       "startDate": "2015-01-01",
       "minAge": 3,
       "maxAge": 10,
       "headTeacher": "Ms. J Brodie",
       "website": "http://www.st-elsewhere-primary.org",
       "address": 123456789012
    }
  }
]</code>
  </pre>
  <a name="get"></a><h3>Get entry by hash</h3>
    <table>
      <thead>
        <tr>
          <th>HTTP Method</th>
          <th>Path</th>
          <th>Headers</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GET</td>
          <td>/hash/[hash]</td>
          <td></td>
          <td>Get the entry given it's hash</td>
        </tr>
      </tbody>
    </table>
    <h4>Parameters</h4>
    <table>
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Description</th>
            <th>Required</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>_representation</td>
            <td>Representation of response body, e.g json, csv etc. Default is html.</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>

  <h4>Example request</h4>
    <pre>
    <code class="shell">
      curl http://school.openregister.org/hash/ad183e6ed25737ce4c71bbd652513ba8952c982d?_representation=json
    </code>
    </pre>

  <h4>Response</h4>
    <pre>
    <code class="json">[{
  "hash":"ad183e6ed25737ce4c71bbd652513ba8952c982d",
  "entry":{
       "school": 123456,
       "name": "St. Elsewhere Primary School",
       "startDate": "2015-01-01",
       "minAge": 3,
       "maxAge": 10,
       "headTeacher": "Ms. J Brodie",
       "website": "http://www.st-elsewhere-primary.org",
       "address": 123456789012
    }
  }
]</code>
    </pre>
  </div>
</div>

{%  endblock %}
