{% extends "base.html" %}
{% block title %}Registers{% endblock%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
{% endblock %}
{% block content %}

<!-- top banner -->
<div class="header-wrapper section">
  <div class="row">
    <header>
      <div class="large-8 columns">
        <h1 class="heading-xlarge">Registers</h1>
          <p class="lede">Registers are lists of information. Each register is the most reliable list of its kind.</p>
          <p>Read an <a href="https://www.gov.uk/government/publications/registers/registers">introduction to registers</a> on GOV.UK.<p>
      </div>
    </header>
  </div>
</div>



<section class="section">
  <div class="row">
    <div class="large-4 columns section__side">
      <h2 id="what" class="heading-large section__side__heading">How registers work</h2>
    </div>
      <div class="large-8 columns">

          <p>Registers are minimum viable datasets. They are a better way of storing simple lists of things in standardised ways, separate from technology platforms and digital services.</p>

          <p>They have <a href="https://gds.blog.gov.uk/2015/09/01/registers-authoritative-lists-you-can-trust/">clear user needs and purpose</a>. They share certain <a href="https://gds.blog.gov.uk/2015/10/13/the-characteristics-of-a-register/">characteristics</a> and are <a href="https://gds.blog.gov.uk/2015/12/16/linking-registers/">linked together</a>.</p>

          <p>Every register is looked after by a custodian. That person is responsible for ensuring that data is <a href="https://gds.blog.gov.uk/2015/10/13/the-characteristics-of-a-register/#registerdata">accessible</a>, accurate, up-to-date, and hasn’t been tampered with.</p>

          <p>In practice, not all datasets need to be registers.</p>

          <p>Registers are a cross-government need. GDS wants to support departments and agencies while they build their registers for their own use and that of others in government. We’re looking forward to working with <a href="https://gds.blog.gov.uk/digital-leaders-network/">Digital Leaders</a> and the Data Leaders Network to build this ecosystem of registers.</p>

          <p>Further information:
          <ul>
            <li><a class="read-more-link" href="/using-registers">building services using registers</a></li>
            <li><a class="read-more-link" href="/composition-of-registers">the composition of registers</a></li>
            <li><a class="read-more-link" href="/modelling-register-data"> modelling the data in a new register</a></li>
            <li><a class="read-more-link" href="/running-registers">operational specifications for running registers</a></li>
            <li><a class="read-more-link" href="/list_of_registers">list of all registers</a></li>
          </ul>
      </div>
    </div>
  </section>

{% endblock %}
