{% extends "base.html" %}
{% block title %}Registers{% endblock%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
{% endblock %}
{% block content %}

<!-- top banner -->
<div class="header-wrapper section">
  <div class="row">
    <header>
      <div class="large-8 columns">
        <h1 class="heading-xlarge">Registers</h1>
        <p class="lede">Operational data for the UK government</p>
      </div>
      <div class="large-3 columns large-offset-1">
        <img id="crest" src="/static/images/big_crest_white.png">
      </div>
    </header>
  </div>
</div>

<section class="section">
  <div class="row">
    <div class="large-4 columns section__side">
      <h2 id="what" class="heading-large section__side__heading">What are registers?</h2>
    </div>
    <div class="large-8 columns">

      <p>A register is a collection of factual data that government needs in order to provide services, which meets a user need and that may be cited as the official source of truth. Example registers include:
          <a href="http://address.openregister.org">address</a>,
          <a href="http://country.openregister.org">country</a>,
          <a href="http://postcode.openregister.org">postcode</a>,
          <a href="http://post-town.openregister.org">post-town</a>, and
          <a href="http://school.openregister.org">school</a>. 
        </p>
      <p>A complete list of registers is maintained in the <a href="http://register.openregister.org/all">register of registers</a>.</p>

      <figure class="register-visual">
        <figcaption class="register-visual-caption">A sample entry in the School Register</figcaption>
        <img src="/static/images/about/register-entry-visual.png" alt="A sample entry in the School Register">
      </figure>
    </div>
</section>

<section class="section--dark section--centre-align">
  <div class="row">
    <h2 id="who" class="heading-large heading__centre">Who are registers for?</h2>
    <div class="who__wrapper">
      <div class="large-4 columns">
        <img class="who-icons" src="/static/images/about/developer-icon.png">
        <h3 class="heading-medium">Developers</h3>
        <h4 class="heading-small">Developers building services within or outside of Government.</h4>
        <p class="who__content">A consistent, <a href="/developer">straightforward API</a> with a standardised data model enable you to build services quickly.</p>
        <p><a class="link--underline" href="/demo">See demonstrations built with registers here.</a></p>
      </div>
      <div class="large-4 columns">
        <img class="who-icons" src="/static/images/about/registrars-icon.png">
        <h3 class="heading-medium">Registrars</h3>
        <h4 class="heading-small">Teams that are custodians of one or more registers.</h4>
        <p class="who__content">Registers help guarantee the accuracy and validity of the data you use. Privileged services can extend registers directly into commodity work-management and caseworking systems.</p>
      </div>
      <div class="large-4 columns">
        <img class="who-icons" src="/static/images/about/everyone-icon.png">
        <h3 class="heading-medium">Everyone</h3>
        <h4 class="heading-small">Citizens of a digital state.</h4>
        <p class="who__content">Anyone can check open register data. Only the data absolutely essential to providing a service is stored in a register. Private data is protected, accessible only by attributes and critically, not shared.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="row">
    <div class="large-4 columns section__side">
      <h2 id="benefits" class="heading-large section__side__heading">The benefits of registers</h2>
    </div>
    <div class="large-8 columns">
      <ul class="benefits">
        <li class="benefit" id="authoritative">
          <h3 class="heading-medium benefit__heading">Authoritative</h3>
          <p class="benefit__content">A register is the single, canonical source of truth for a dataset.</p>
        </li>
        <li class="benefit" id="trustworthy">
          <h3 class="heading-medium benefit__heading">Trustworthy</h3>
          <p class="benefit__content">Each register is maintained by an authorised registrar. Ownership and responsibility for the data is made clear, providing greater transparency and a clear process for redress.</p>
        </li>
         <li class="benefit" id="linked">
          <h3 class="heading-medium benefit__heading">Linked data</h3>
          <p class="benefit__content">Where data from one register relies on data in another register, the data is linked rather than duplicated, minimising redundancy and reducing errors.</p>
        </li>
        <li class="benefit" id="standards">
          <h3 class="heading-medium benefit__heading">Standardised</h3>
          <p class="benefit__content">Consistently named fields using standard datatypes, behind a <a href="/developer">uniform API</a> simplifies the building of platforms and services using data held in registers.</p>
        </li>
        <li class="benefit" id="veracity">
          <h3 class="heading-medium benefit__heading">Independently verifiable</h3>
          <p class="benefit__content">Physical-digital proofs allow users to independently validate the authenticity of an entry in a registry.</p>
        </li>
        <li class="benefit" id="tamper-proof">
          <h3 class="heading-medium benefit__heading">Tamper-proof</h3>
          <p class="benefit__content">A secure audit trail records any changes made to a register. Individual entries are superseded rather than edited. The full history of a register is preserved.</p>
          <p class="benefit__content">The contents of a register may be independently monitored, and the contents checked using using domain-specific tests.</p>
        </li>
        <li class="benefit" id="privacy">
          <h3 class="heading-medium benefit__heading">Privacy by design</h3>
          <p class="benefit__content">Private and sensitive data is held separately, only accessible to authorised services in answer to specific questions about individual entries. </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="section--dark ">
  <div class="row">
    <div class="large-4 columns section__side">
      <h2 id="model" class="heading-large section__side__heading">Registers, fields and datatypes</h2>
    </div>
    <div class="large-8 columns">
      <p>Each register consists of a set of fields such as: 
        <a href="http://field.openregister.org/field/name">name</a>,
        <a href="http://field.openregister.org/field/text">text</a>,
        <a href="http://field.openregister.org/field/postcode">postcode</a>,
        <a href="http://field.openregister.org/field/longitude">longitude</a>,
        <a href="http://field.openregister.org/field/latitude">latitude</a>,
        <a href="http://field.openregister.org/field/start-date">start-date</a> and
        <a href="http://field.openregister.org/field/end-date">end-date</a>. The values that may appear in a field are constrained by its datatype such as: <a href="http://datatype.openregister.org/datatype/string">string</a>,
        <a href="http://datatype.openregister.org/datatype/integer">integer</a>,
        <a href="http://datatype.openregister.org/datatype/decimal-degrees">decimal-degrees</a>, and
        <a href="http://datatype.openregister.org/datatype/curie">curie</a>.
        </p>
      <p>A complete list of fields is maintained in the <a href="http://field.openregister.org/all">field register</a>,
        and a complete list of datatypes in the <a href="http://datatype.openregister.org/all">datatype register</a>.</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="row">
    <div class="large-8 columns">
      <p class="blurb text">This <a href="https://www.gov.uk/service-manual/phases/alpha.html">alpha</a> is being developed as 
          <a href="https://github.com/openregister">open source software</a>
      by a small team at the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>. We welcome contributions and feedback.</p>
    </div>
  </div>
</section>



{% include 'footer.html' %}
{% endblock %}
