{% extends "base.html" %}
{% block title %}Registers{% endblock%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
{% endblock %}
{% block content %}

<!-- top banner -->
<div class="header-wrapper section">
  <div class="row">
    <header>
      <div class="large-8 columns">
        <h1 class="heading-xlarge">Registers</h1>
        <p class="lede">Operational data for the UK government</p>
        <ul class="header__nav list-bullet">
          <li><a href="#what">Improving registers</a></li>
          <li><a href="#standards">Establishing standards</a></li>
          <li><a href="#users">Responding to user needs</a></li>
          <li><a href="#demos">Demos</a></li>
        </ul>
      </div>
      <div class="large-3 columns large-offset-1">
        <img id="crest" src="/static/images/big_crest_white.png">
      </div>
    </header>
  </div>
</div>

<section class="section">
  <div class="row">
    <div class="large-4 columns section__side">
      <h2 id="what" class="heading-large section__side__heading">Improving registers</h2>
    </div>
    <div class="large-8 columns">

      <p>Registers collect factual data the government needs to provide services. You’ve probably come across many types of registers, eg. <a href="https://beta.companieshouse.gov.uk/">Companies House</a> holds a register of all UK businesses.</p>

      <p>At the Government Digital Service, we’re creating an exemplar of how public registers of information should be held, shared and maintained. Improving registers will ensure public data can always be trusted.</p>

      <figure class="register-visual">
        <figcaption class="register-visual-caption">A sample entry in the School Register</figcaption>
        <a href="http://school.openregister.org/school/100001"><img src="/static/images/about/register-entry-visual.png" alt="A sample entry in the School Register"></a>
      </figure>
      <a href="http://register.openregister.org/">See registers made to date</a>
    </div>
  </div>
    <div class="row">
        <div class="large-8 large-offset-4 columns">
          <img class="privacy-icon" src="/static/images/about/privacy-icon.png">
          <p class="callout">This alpha only uses freely available open data, along with some fictional test data. We’re not currently looking at private registers, which are held safely and securely, and only accessed through authorised actions.</p>
        </div>
    </div>
</section>

<section class="section--dark">
  <div class="row">
    <div class="large-12 columns section__side">
      <h2 id="standards" class="heading-large section__side__heading">Establishing standards</h2>
      <p class="section-intro">The improved registers will have a number of specific attributes</p>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
          <h3 class="heading-medium benefit__heading">Distributed</h3>
          <p class="benefit__content">Each register resides under its own registrar (e.g. a department or agency), which is fully accountable for the data they collect and maintain</p>
    </div>
    <div class="large-4 columns">
          <h3 class="heading-medium benefit__heading">Canonical</h3>
          <p class="benefit__content">Registers are the single source of truth for platforms and services, with no duplicated data residing elsewhere</p>
    </div>
    <div class="large-4 columns">
          <h3 class="heading-medium benefit__heading">Verifiable data</h3>
          <p class="benefit__content">Individuals can verify their licences, permissions or certificates, and service teams can check register data with publicly available tests</p>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
          <h3 class="heading-medium benefit__heading">Long lived</h3>
          <p class="benefit__content">Registers remain regardless of whether services change or retire</p>
    </div>
    <div class="large-4 columns end">
          <h3 class="heading-medium benefit__heading">Tamper-proof</h3>
          <p class="benefit__content">Registers have secure audit trails that can’t be edited, recording any changes made to the data</p>
    </div>
  </div>
</section>

<section class="section section--centre-align">
  <div class="row">
    <h2 id="users" class="heading-large heading__centre">Responding to user needs</h2>
    <p class="section-intro">A number of user groups will benefit from the improved registers</p>
    <div class="who__wrapper">
      <div class="large-4 columns">
        <img class="who-icons" src="/static/images/about/developer-icon.png">
        <h3 class="heading-medium">Service teams</h3>
        <p class="who__content">
        Registers with a standardised data model and straightforward APIs will help you <a href="/developer">build services quickly</a>.</p>
      </div>
      <div class="large-4 columns">
        <img class="who-icons" src="/static/images/about/registrars-icon.png">
        <h3 class="heading-medium">Registrars</h3>
        <p class="who__content">Teams that are custodians of one or more registers will be able to trust the data they collect and maintain, and be assured it hasn’t been tampered with.</p>
      </div>
      <div class="large-4 columns">
        <img class="who-icons" src="/static/images/about/everyone-icon.png">
        <h3 class="heading-medium">Citizens</h3>
        <p class="who__content">Citizens will know which departments or agencies maintain and update their data, and which services have access to their data.</p>
      </div>
    </div>
  </div>
</section>

<section class="section--dark section--centre-align demos">
  <div class="row">
    <h2 id="demos" class="heading-large heading__centre">Demos</h2>
    <p class="section-intro">Check out the services we’ve built using improved registers</p>
    <div class="who__wrapper">
      <div class="large-4 columns">
        <a href="http://school-service.herokuapp.com/"><img src="/static/images/demo/school-finder.jpg"></a>
        <h3 class="heading-medium"><a href="http://school-service.herokuapp.com/">School finder</a></h3>
         <p>A page for every <a href="http://school.openregister.org">school</a> showing related information from other registers.
        A small <a href="https://github.com/openregister/schools">python/flask application</a>.</p>
      </div>
      <div class="large-4 columns end">
        <a href="http://openregister-widgets.herokuapp.com/"><img src="/static/images/demo/widgets.jpg"></a>
        <h3 class="heading-medium"><a href="http://openregister-widgets.herokuapp.com/">Widgets</a></h3>
        <p>A page of widget built using registers.
        <a href="https://github.com/openregister/openregister.widgets">Javascript widgets served by a python/flask application</a>.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
