{% extends "base.html" %}
{% block title %}List of Registers{% endblock%}
{% block content %}

<!-- top banner -->
<div class="header-wrapper section">
  <div class="row">
    <header>
      <div class="large-8 columns">
      <div class="back">
        <a href="/">&#9664; Back</a>
      </div>
        <h1 class="heading-xlarge">{{ phase }} registers</h1>
      </div>
    </header>
  </div>
</div>
<section class="section">
  <div class="row">
    <div class="large-8 columns">
        {% for phase, register_data in registers %}
            <h2>{{ phase|title }}</h2>
            {% for name, register in register_data.item_list.items() %}
                <h3><a href="https://{{ name }}.{{ register_data.base_url }}">{{ name }}</a></h3>
                <p>{{ register.text }}</p>
                <h4>Fields</h4>
                <ul>
                {% for field in register.fields %}
                    <li>{{ field }}</li>
                {% endfor %}
                </ul>
                <p><a href="https://register.{{ register_data.base_url }}/record/{{ name }}">
                    View this record in the {{ register_data.base_url }} register of registers
                </a></p>

            {% endfor %}
        {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
