// variables, mixins and
// generic settings. Mainly based
// on govuk  toolkit and elements
@import 'helpers';
@import 'measurements';
@import 'colours';
@import 'globals';
@import 'typography';

// specific styles for this page

// the horizontal section styles
@import 'sections';

// the benefits list styles
@import 'benefits';


// ---
// header tweaks
// ---
.header-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;

  p {
    color: #fff;
  }

  p a{
    text-decoration: underline;
  }

  header {
    margin-top: 0;
  }
}

.header__heading {
  color: #fff;
}

.header__nav a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.lede a {
  text-decoration: underline;
}

.lede a:hover {
  color: #99CCFF;
}


.blog-posts {
  font-size: 19px;
  margin-bottom: 15px;
  margin-top: 45px;
  color: white;
  font-weight: 700;
}

li {
  list-style-type: disc;
  padding: 0;
  margin-left: 30px;
}

.blog-link a {
  font-size: 19px;
  text-decoration: underline;
}

.blog-link a:hover {
  color: #99CCFF;
}

.privacy-icon {
  float: left;
  width: 30px;
  margin-left: 0!important;
  margin-top: 35px;
  margin-right: 10px;
}

.note {
  margin-top: 35px;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
}

.callout {
  margin-top: 35px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  padding-left: 40px;
}

// ---
// for the main image
// ---
.register-visual {
  margin-top: 0px;
}

.register-visual-caption {
  margin-bottom: 45px;
  margin-top: 20px;
  color: #6F777B;
  font-size: 16px;
}

// ---
// specific styles for the "who" section
// ---
.who__wrapper {
  padding-top: $gutter/2;
}

.who-icons {
  width: 70%;
}

.who__content {
  padding-top: $gutter-half;
}

// ---
// other tweaks
// ---
.blurb {
  font-size: 19px;
  font-weight: bolder;
  margin: 1*$gutter 0 1*$gutter;

  a {
    @extend .link--underline;
  }
}


.data {
  font-family: monospace, courier new, courier;
  color: $secondary-text;
}

.open-government-licence p {
  margin-top: 0;
  @extend .small-text;
}

.heading-medium {
  margin-top: 10px;
}

.footer-wrapper {
 max-width: 100% !important;
 background: #dee0e2  !important;
 padding-top: 5px;
 margin-top: 60px;

}

.back {
  margin-bottom: 15px;
}

.back a {
  text-decoration: none;
}

.back a:hover {
  text-decoration: underline;
}


.copyright p {
  font-size: 15px;
  white-space: nowrap;
}

p.logo {
  margin-top: 106px;
}

.ogl-text {
  margin-left: -45px;
}

a.logo-image {
  background-image: url(/static/images/ogl_logo.png);
  background-size: 41px 17px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999em;
}

li {
  margin-left: 20px;
}

li a{
  text-decoration: none;
}

li a:hover {
  color: #99CCFF;
}
